<% if @message.language == "english" %>

  <!-- Start Navigation Bar -->
  <section class="navigation">
    <header>
      <div class="header-content">
        <div class="logo"><a href="/#hero"><%= image_tag("logo.png", alt:"Gonza Electric") %></a></div>
        <div class="header-nav">
          <nav>
            <ul class="primary-nav">
              <li><a href="/#choose-us">Why choose us?</a></li>
              <li><a href="/#features">Our Services</a></li>
              <li><a href="/#assets">About Us</a></li>
              <li><a href="/#testimonials">Testimonials</a></li>
              <li><a href="/#contact">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <div class="navicon">
          <a class="nav-toggle" href="#"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
        </div>
      </div>
    </header>
  </section>
  <!-- End navigation Bar -->

  <section id="form-new-top"></section>

  <!-- Start Contact Section -->
  <section class="sign-up section-padding text-center" id="form-new">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h3><u>Contact Us</u></h3>
          </div>
        </div>
        <div class="col-md-12">
          <h4 id="black"><i class="fa fa-comments-o" aria-hidden="true"></i> Leave Us A Service Request</h4>
          <p>Leave your request and information below. We will contact you back ASAP. 
          <br><b>(<span id="red">*</span> Fields Are Required)</b></p>
          <%= form_for @message, html: { class: "form-horizontal signup-form"} do |f| %>
            
            <% if @message.errors.any? %>
              <div class="alert alert-danger text-center">
                <u>The form contains <%= pluralize(@message.errors.count, "error") %></u>
                <ul>
                <% @message.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <!-- Name input-->
            <div class="form-group">
            <%= f.label :name, class: "col-md-3 control-label", value: "Name:" %>
              <div class="col-md-9">
                <%= f.text_field :name, placeholder: "Your Name", class: "form-control", required: "required" %>
              </div>
            </div>
                  
            <!-- Phone input-->
            <div class="form-group" >
              <%= f.label :phone, class: "col-md-3 control-label", value: "Phone:" %>
              <div class="col-md-9">
                <%= f.text_field :phone, placeholder: "Your Phone #", class: "form-control", required: "required" %>
              </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <%= f.label :email, class: "col-md-3 control-label", value: "E-mail:" %>
              <div class="col-md-9">
                <%= f.text_field :email, placeholder: "Your E-mail", class: "form-control" %>
              </div>
            </div>

            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message"><span id="red">*</span>Service Request:</label>
              <div class="col-md-9">
                <%= f.text_area :message, class: "form-control", placeholder: "Please enter your message here...", rows: "5", required: "required" %>
              </div>
            </div>

            <!-- Captcha input-->
            <div class="form-group" >
              <%= f.label :captcha, class: "col-md-3 control-label", value: "Captcha:" %>
              <div class="col-md-9">
                <%= image_tag("captcha.png") %>
                <%= f.text_field :captcha, placeholder: "Enter the text shown in the image", class: "form-control", required: "required" %>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-11 col-md-offset-2">
                <%= f.submit "Send", class: "btn-fill sign-up-btn" %>
              </div>
            </div>

            <%= f.text_field :language, value: @message.language, hidden: "true" %>
          <%end %>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Start Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-links">
            <ul class="footer-group">
              <li><a href="https://www.google.com/maps/place/1569+E+21st+St,+Los+Angeles,+CA+90011/@34.0187371,-118.2474923,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c885b504c813:0x3df8916c47834a19!8m2!3d34.0187327!4d-118.2453036" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> 1569 E 21st Los Angeles, CA 90011</a></li>
              <li><a><i class="fa fa-phone" aria-hidden="true"></i> Call Us: (213) 747-3773</a></li>
              <li><a href="" id="facebook" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
              <li><a href="https://www.yelp.com/biz/gonza-electric-los-angeles" id="yelp" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i> Yelp</a></li>
              <li class="pull-left" style="width: 490px;"><a href="http://www.ericgonzalez1994.com/" target="_blank"><span id="yellow">All Rights Reserved © 2017 </span>&nbsp; Eric Gonzalez </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

<% elsif @message.language == "espanol" %>

  <!-- Start Navigation Bar -->
  <section class="navigation">
    <header>
      <div class="header-content">
        <div class="logo"><a href="#hero"><%= image_tag("logo.png", alt:"Gonza Electric") %></a></div>
        <div class="header-nav">
          <nav>
            <ul class="primary-nav">
              <li><a href="/espanol#choose-us">Por Que Elegirnos?</a></li>
              <li><a href="/espanol#features">Nuestros Servicios</a></li>
              <li><a href="/espanol#assets">Sobre nosotros</a></li>
              <li><a href="/espanol#testimonials">Testimonios</a></li>
              <li><a href="/espanol#contact">Contáctenos</a></li>
            </ul>
          </nav>
        </div>
        <div class="navicon">
          <a class="nav-toggle" href="#"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
        </div>
      </div>
    </header>
  </section>
  <!-- End navigation Bar -->

  <section id="form-new-top"></section>

  <!-- Start Contact Section -->
  <section class="sign-up section-padding text-center" id="form-new">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h3><u>Contáctenos</u></h3>
          </div>
        </div>
        <div class="col-md-12">
          <h4 id="black"><i class="fa fa-comments-o" aria-hidden="true"></i> Deja Nos Una Solicitud De Servicio</h4>
          <p>Deje su solicitud e información a continuación. Nos pondremos en contacto con usted lo antes posible.
            <br><b>(<span id="red">*</span> Los Campos Son Obligatorios)</b></p>
          <%= form_for @message, html: { class: "form-horizontal signup-form"} do |f| %>

            <% if @message.errors.any? %>
              <div class="alert alert-danger text-center">
                <u>The form contains <%= pluralize(@message.errors.count, "error") %></u>
                <ul>
                <% @message.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name"><span id="red">*</span> Nombre:</label>
              <div class="col-md-9">
                <%= f.text_field :name, placeholder: "Su Nombre", class: "form-control", required: "required" %>
              </div>
            </div>
                  
            <!-- Phone input-->
            <div class="form-group" >
              <label class="col-md-3 control-label" for="phone"><span id="red">*</span> # de Teléfono:</label>
              <div class="col-md-9">
                <%= f.text_field :phone, placeholder: "Su # de Teléfono", class: "form-control", required: "required" %>
              </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Correo Electrónico:</label>
              <div class="col-md-9">
                <%= f.text_field :email, placeholder: "Su Correo Electrónico", class: "form-control", required: "required" %>
              </div>
            </div>

            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message"><span id="red">*</span> Solicitud De Servicio:</label>
              <div class="col-md-9">
                <%= f.text_area :message, class: "form-control", placeholder: "Ingrese su factura aquí...", rows: "5", required: "required" %>
              </div>
            </div>

            <!-- Captcha input-->
            <div class="form-group" >
              <label class="col-md-3 control-label" for="Captcha"><span id="red">*</span> Captcha:</label>
              <div class="col-md-9">
                <%= image_tag("captcha.png") %>
                <%= f.text_field :captcha, placeholder: "Introduzca el texto que se muestra en la imagen", class: "form-control", required: "required" %>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-11 col-md-offset-2">
                <%= f.submit "Send", class: "btn-fill sign-up-btn" %>
              </div>
            </div>

            <%= f.text_field :language, value: "espanol", hidden: "true" %>
          <%end %>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Start Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-links">
            <ul class="footer-group">
              <li><a href="https://www.google.com/maps/place/1569+E+21st+St,+Los+Angeles,+CA+90011/@34.0187371,-118.2474923,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c885b504c813:0x3df8916c47834a19!8m2!3d34.0187327!4d-118.2453036" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> 1569 E 21st Los Angeles, CA 90011</a></li>
              <li><a><i class="fa fa-phone" aria-hidden="true"></i> Llámenos: (213) 747-3773</a></li>
              <li><a href="https://www.facebook.com/GonzaElectric/" id="facebook" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
              <li><a href="https://www.yelp.com/biz/gonza-electric-los-angeles" id="yelp" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i> Yelp</a></li>
              <li class="pull-left" style="width: 480px;"><a href="http://www.ericgonzalez1994.com/" target="_blank"><span id="yellow">Todos Los Derechos Reservados © 2017 </span>&nbsp; Eric Gonzalez </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

<% end %>