  <!-- Start Hero Section -->
  <section class="hero" id="hero">
    <!-- Start Navigation Bar -->
    <section class="navigation">
      <header>
        <div class="header-content">
          <div class="logo"><a href="#hero"><img src="img/sedna-logo.png" alt="Sedna logo"></a></div>
          <div class="header-nav">
            <nav>
              <ul class="primary-nav">
                <li><a href="#choose-us">Why choose us?</a></li>
                <li><a href="#features">Our Services</a></li>
                <li><a href="#assets">About Us</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#contact">Contact Us</a></li>
              </ul>
              <div class="member-actions">
                <a>Cambiar Idioma:&nbsp;&nbsp;</a>
                <a href="#download" class="btn-white btn-small dropdown-toggle" data-toggle="dropdown">English <span class="caret"></span></a>
                <ul style="left: 110px;" class="dropdown-menu" role="menu">
                  <li><a href="#">Español</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="navicon">
              <a class="nav-toggle" href="#"><span></span></a>
          </div>
        </div>
      </header>
    </section>
    <!-- End navigation Bar -->
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="hero-content text-center">
              <h1>Gonza Electric</h1>
              <p class="intro">We're Your Trusted Los Angeles Electrician! There’s a good chance you’re here because you have an electrical problem. Let us help you solve it!</p>
              <a href="#contact" class="btn btn-fill btn-large btn-margin-right">Schedule An Appointment</a> 
              <a href="#features" class="btn btn-fill btn-large btn-margin-righ">Our Services</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <!-- Start Intro Section -->
  <section class="intro section-padding" id="choose-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center" id="intro-header">
          <h2 id="intro-header-text"><u>Why Choose Gonza Electric?</u></h2>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <i class="fa fa-bolt fa-3x" aria-hidden="true"></i>
          </div>
          <div class="intro-content">
            <h5>We're electrical repair experts</h5>
            <p>All of our technicians are licensed and trained! Gonza Electric specializes in residential and industrial electrical work and installation. We are fully equipped and ready to asses your electrical needs!</p>
          </div>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          </div>
          <div class="intro-content">
            <h5>We don't waste your time</h5>
            <p>At Gonza Electric, we understand your time is valuable. We always schedule a time that is suitable you! We do our best to try to give you a price up-front. (No surprises / No hidden fees)</p>
          </div>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <i class="fa fa-users fa-3x" aria-hidden="true"></i>
          </div>
          <div class="intro-content last">
            <h5>We are trusted by the community</h5>
            <p>Gonza Electric is your trusted choice for local electricians in Los Angeles and all surrounding areas. We make it our priority to bring you the best level of customer service that will leave you 100% satisfied!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro Section -->

  <!-- Start Services Section -->
  <section class="features section-padding text-center" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-7">
          <div class="feature-list">
            <div class="text-center">
              <h3><u>Our Services</u></h3>
            </div>
            <p>When you choose Gonza Electric, you're choosing a Los Angeles electrician with over 30 years experience in electric service, repair and installation. Our technicians are skilled and trained to meet your electrical needs. <b>Here are the services we provide:</b></p>
            <ul class="features-stack">
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-sitemap fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Breakers & Fuses</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-plug fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Electrical Outlets</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-bolt fa-2x" aria-hidden="true"></i> <i class="fa fa-tablet fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Electrical Panels</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-wrench fa-2x" aria-hidden="true"></i> <i class="fa fa-tachometer fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Home Appliances</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-database fa-2x" aria-hidden="true"></i> <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Generators</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i> <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>AND MUCH MORE...</h5>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="device-showcase">
      <div class="devices">
        <div class="ipad-wrap wp1"></div>
        <!--<div class="iphone-wrap wp2"></div>-->
      </div>
    </div>
    <!--<div class="responsive-feature-img"><img src="img/voltage.png" alt="responsive devices"></div>-->
  </section>
  <!-- End Services Section -->

  <!-- Start About Section -->
  <section class="features-extra section-padding" id="assets">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="feature-list">
            <div class="text-center">
              <h3><u>About Us</u></h3>
            </div>
            <p>Gonza Electric is a proud family owned business that has been in service sin ce 1983! We always provide excellent service to meet your desired level of satisfaction. We have the knowledge and skills to assist you with a wide variety of electrical situations, so when the need arises, large or small, give us the opportunity to show you why we should become "Your Electricians". We have a State of California contractor’s license and a consumer affairs license. Our dispatching office has real, articulate people answering the telephones - no recorded messages or pagers. Thank you for visiting our website, we look forward to doing business with you.</p>
            <div class="text-center">
              <a href="#contact" class="btn btn-ghost btn-accent btn-small">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
      <div class="macbook-wrap wp3">
        <div class="text-center">Electrician License</div>
      </div>
      <div class="responsive-feature-img">
        <div class="text-center">Electrician License</div>
        <img src="license.jpg" alt="responsive devices">
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Start Testimonials Section-->
  <section class="testimonial-slider section-padding text-center" id="testimonials">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="flexslider">
              <ul class="slides">
                <li>
                  <div class="avatar"><%= image_tag("Ernie.jpg", alt: "Sedna Testimonial Avatar") %></div>
                  <h2>"They are honest and solve the issue right away. Call them for all your needs, you won't regret it"</h2>
                  <p class="author">Ernie F. (Yelp Review)</p>
                </li>
                <li>
                  <div class="avatar"><%= image_tag("testimonial-default.png", alt: "Sedna Testimonial Avatar") %></div>
                  <h2>"This family owned and operated business is a highly reliable electrical company"</h2>
                  <p class="author">Eddy C. (Yelp Review)</p>
                </li>
                <li>
                  <div class="avatar"><%= image_tag("testimonial-default.png", alt: "Sedna Testimonial Avatar") %></div>
                  <h2>"I called for some plug work. They showed up on time and did as they were told. A father, son team"</h2>
                  <p class="author">Anonymous (Yelp Review)</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- Start Contact Section -->
  <section class="sign-up section-padding text-center" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h3><u>Contact Us</u></h3>
          </div>
          <p><b>You can get in touch with us through any of these methods.</b></p>
        </div>
        <div class="col-md-6">
          <h4 id="black"><i class="fa fa-phone" aria-hidden="true"></i> Call Us</h4>
          <p>Call us at (323) 213-1644. We will be ready to assist you!</p>
          <hr>
          <h4 id="black"><i class="fa fa-map-marker" aria-hidden="true"></i> Visit Us At Our Office</h4>
          <p>Visit us at our office located at:<b><br>1569 E 21 St<br>Los Angeles, CA 90011</b></p>
          <div id="map-canvas"></div>
        </div>
        <div class="col-md-6">
          <h4 id="black"><i class="fa fa-envelope" aria-hidden="true"></i> Email Us </h4>
          <p>Email us at example@mail.com. We will respond to you in less than a day.</p>
          <hr>
          <h4 id="black"><i class="fa fa-comments-o" aria-hidden="true"></i> Leave Us An Invoice </h4>
          <p>Leave your request and information below. We will contact you back ASAP. 
            <br><b>(<span id="red">*</span> Fields Are Required)</b></p>
          <form class="form-horizontal signup-form" action="" method="post">
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name"><span id="red">*</span> Name:</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Your Name" class="form-control" required="required">
              </div>
            </div>
                  
            <!-- Phone input-->
            <div class="form-group" >
              <label class="col-md-3 control-label" for="phone"><span id="red">*</span> Phone #:</label>
              <div class="col-md-9">
                <input id="phone" name="phone" type="text" placeholder="Your Phone #" class="form-control" required="required">
              </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">E-mail:</label>
              <div class="col-md-9">
                <input id="email" name="email" type="email" placeholder="Your E-mail" class="form-control" >
              </div>
            </div>

            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message"><span id="red">*</span> Invoice:</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your invoice here..." rows="5" required="required"></textarea>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-11 col-md-offset-2">
                <button type="submit" class="btn-fill sign-up-btn">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Start Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-links">
            <ul class="footer-group">
              <li><a href="https://www.google.com/maps/place/1569+E+21st+St,+Los+Angeles,+CA+90011/@34.0187371,-118.2474923,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c885b504c813:0x3df8916c47834a19!8m2!3d34.0187327!4d-118.2453036" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> 1569 E 21st Los Angeles, CA 90011</a></li>
              <li><a><i class="fa fa-phone" aria-hidden="true"></i> Call Us: (313) 231-1644</a></li>
              <li><a href="" id="facebook" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
              <li><a href="https://www.yelp.com/biz/gonza-electric-los-angeles" id="yelp" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i> Yelp</a></li>
							<li class="pull-left" style="width: 490px;"><a href="http://www.ericgonzalez1994.com/" target="_blank"><span id="yellow">All Rights Reserved © 2017 </span>&nbsp; Eric Gonzalez </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <!-- Javascript -->
  <%= javascript_include_tag 'jquery-1.11.2.min.js' %>
  <%= javascript_include_tag 'jquery.fancybox.pack.js' %>
  <%= javascript_include_tag 'bootstrap.min.js' %>
  <%= javascript_include_tag 'scripts.js' %>
  <%= javascript_include_tag 'jquery.flexslider-min.js' %>
  <%= javascript_include_tag 'jquery.waypoints.min.js' %>
  <script src="//maps.google.com/maps/api/js?key=AIzaSyBZ7ZhwVIUYWElrUzcGPx9bPUe3-2RhKXU"></script>
  <%= javascript_include_tag 'map_div.js' %>