  <!-- Start Hero Section -->
  <section class="hero" id="hero">
    <!-- Start Navigation Bar -->
    <section class="navigation">
      <header>
        <div class="header-content">
          <div class="logo"><a href="#hero"><%= image_tag("logo.png", alt:"Gonza Electric") %></a></div>
          <div class="header-nav">
            <nav>
              <ul class="primary-nav">
                <li><a href="#choose-us">Why choose us?</a></li>
                <li><a href="#features">Our Services</a></li>
                <li><a href="#assets">About Us</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="/business-card" target="blank">Business Card</a></li>
              </ul>
              <div class="member-actions">
                <a>Cambiar Idioma:&nbsp;&nbsp;</a>
                <%= link_to "Español", espanol_url, class: "btn-white btn-small dropdown-toggle" %>
              </div>
            </nav>
          </div>
          <div class="navicon">
              <a class="nav-toggle" href="#"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>
      </header>
    </section>
    <!-- End navigation Bar -->
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="hero-content text-center">
              <h1>Gonza Electric</h1>
              <p class="intro">We're Your Trusted Los Angeles Electrician! There’s a good chance you’re here because you have an electrical problem. Let us help you solve it!</p>
              <a href="#contact" class="btn btn-fill btn-large btn-margin-right">Schedule An Appointment</a> 
              <a href="#features" class="btn btn-fill btn-large btn-margin-righ">Our Services</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <!-- Start Intro Section -->
  <section class="intro section-padding" id="choose-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center" id="intro-header">
          <h2 id="intro-header-text"><u>Why Choose Gonza Electric?</u></h2>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <i class="fa fa-bolt fa-3x" aria-hidden="true"></i>
          </div>
          <div class="intro-content">
            <h5>We're electrical repair experts</h5>
            <p>Gonza Electric specializes in residential, commercial, and industrial electrical work and installation. We are fully equipped and ready to asses your electrical needs! All of our technicians are licensed and trained.</p>
          </div>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          </div>
          <div class="intro-content">
            <h5>We don't waste your time</h5>
            <p>At Gonza Electric, we understand your time is valuable. We always schedule a time that is suitable for you! We also do our best to try to give you a price up-front. (No surprises / No hidden fees)</p>
          </div>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <i class="fa fa-users fa-3x" aria-hidden="true"></i>
          </div>
          <div class="intro-content last">
            <h5>We are trusted by the community</h5>
            <p>Gonza Electric is your trusted choice for local electricians in Los Angeles and all surrounding areas. We make it our priority to bring you the best level of customer service that will leave you 100% satisfied!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro Section -->

  <!-- Start Services Section -->
  <section class="features section-padding text-center" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-7">
          <div class="feature-list">
            <div class="text-center">
              <h3><u>Our Services</u></h3>
            </div>
            <p>When you choose Gonza Electric, you're choosing a Los Angeles electrician with over 30 years experience in electric service, repair and installation. Our technicians are skilled and trained to meet your electrical needs. <b>Here are the services we provide:</b></p>
            <ul class="features-stack">
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-sitemap fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Breakers & Fuses</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-plug fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Electrical Outlets</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-bolt fa-2x" aria-hidden="true"></i> <i class="fa fa-tablet fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Electrical Panels</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-wrench fa-2x" aria-hidden="true"></i> <i class="fa fa-tachometer fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Home Appliances</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-database fa-2x" aria-hidden="true"></i> <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Generators</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i> <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>AND MUCH MORE...</h5>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="device-showcase">
      <div class="devices">
        <div class="ipad-wrap wp1"></div>
        <!--<div class="iphone-wrap wp2"></div>-->
      </div>
    </div>
    <!--<div class="responsive-feature-img"><img src="img/voltage.png" alt="responsive devices"></div>-->
  </section>
  <!-- End Services Section -->

  <!-- Start About Section -->
  <section class="features-extra section-padding" id="assets">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="feature-list">
            <div class="text-center">
              <h3><u>About Us</u></h3>
            </div>
            <p>Gonza Electric is a proud family owned business that has been in service since 1983! We always provide excellent service to meet your desired level of satisfaction. We have the knowledge and skills to assist you with a wide variety of electrical situations, so when the need arises, large or small, give us the opportunity to show you why we should become "Your Electricians". We have a State of California Contractor's License. Our dispatching office has real, articulate people answering the telephones - no recorded messages or pagers. Thank you for visiting our website, we look forward to doing business with you.</p>
            <div class="text-center">
              <a href="#contact" class="btn btn-ghost btn-accent btn-small">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
      <div class="macbook-wrap wp3">
        <div class="text-center">Our License</div>
      </div>
      <div class="responsive-feature-img">
        <div class="text-center">Our License</div>
        <%= image_tag("license.jpg", alt: "responsive devices") %>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Start Testimonials Section-->
  <section class="testimonial-slider section-padding text-center" id="testimonials">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="flexslider">
              <ul class="slides">
                <li>
                  <div class="avatar"><%= image_tag("Ernie.jpg", alt: "Sedna Testimonial Avatar") %></div>
                  <h2>"They are honest and solve the issue right away. Call them for all your needs, you won't regret it"</h2>
                  <p class="author">Ernie F. (Yelp Review)</p>
                </li>
                <li>
                  <div class="avatar"><%= image_tag("testimonial-default.png", alt: "Sedna Testimonial Avatar") %></div>
                  <h2>"This family owned and operated business is a highly reliable electrical company"</h2>
                  <p class="author">Eddy C. (Yelp Review)</p>
                </li>
                <li>
                  <div class="avatar"><%= image_tag("testimonial-default.png", alt: "Sedna Testimonial Avatar") %></div>
                  <h2>"I called for some plug work. They showed up on time and did as they were told. A father, son team"</h2>
                  <p class="author">Anonymous (Yelp Review)</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- Start Contact Section -->
  <section class="sign-up section-padding text-center" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h3><u>Contact Us</u></h3>
          </div>
          <p><b>You can get in touch with us through any of these methods.</b></p>
          <%= image_tag("business_card.png", alt: "business-card", id:"business-card") %>
        </div>
        <div class="col-md-6">
          <h4 id="black"><i class="fa fa-phone" aria-hidden="true"></i> Call Us</h4>
          <p>Call us at <a href="tel:+1-213-747-3773" class="contact-link"><b>(213) 747-3773</b></a>. We will be ready to assist you!</p>
          <hr>
          <h4 id="black"><i class="fa fa-map-marker" aria-hidden="true"></i> Visit Us At Our Office</h4>
          <p>Visit us at our office located at:<b><br>1569 E 21 St<br>Los Angeles, CA 90011</b></p>
          <div id="map-canvas"></div>
        </div>
        <div class="col-md-6">
          <section id="form">
            <h4 id="black"><i class="fa fa-envelope" aria-hidden="true"></i> Email Us </h4>
            <p>Email us at <a href="mailto:gonzaelectric83@gmail.com?subject=Service Request" class="contact-link"><b>gonzaelectric83@gmail.com</b></a>. We respond to you in less than a day.</p>
            <hr>
            <h4 id="black"><i class="fa fa-comments-o" aria-hidden="true"></i> Leave Us A Service Request </h4>
            <p>Leave your request and information below. We will contact you back ASAP. 
              <br><b>(<span id="red">*</span> Fields Are Required)</b></p>
            <%= form_for @message, html: { class: "form-horizontal signup-form"} do |f| %>
              <% flash.each do |message_type, message| %>
                <%= content_tag(:div, message, class: "alert alert-#{message_type} text-center", id: "body-up") %>
              <% end %>

              <% if flash.key?("success") %>
                <%= image_tag("logo.png", alt:"Gonza Electric") %>
              <% else %>
              <!-- Name input-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="name"><span id="red">*</span> Full Name:</label>
                <div class="col-md-9">
                  <%= f.text_field :name, placeholder: "Your Name", class: "form-control", required: "required" %>
                </div>
              </div>
                    
              <!-- Phone input-->
              <div class="form-group" >
                <label class="col-md-3 control-label" for="phone"><span id="red">*</span> Phone #:</label>
                <div class="col-md-9">
                  <%= f.text_field :phone, placeholder: "Your Phone #", class: "form-control", type: "tel", required: "required" %>
                </div>
              </div>

              <!-- Email input-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="email">E-mail:</label>
                <div class="col-md-9">
                  <%= f.text_field :email, placeholder: "Your E-mail", class: "form-control", type: "email" %>
                </div>
              </div>

              <!-- Message body -->
              <div class="form-group">
                <label class="col-md-3 control-label" for="message"><span id="red">*</span>Service Request:</label>
                <div class="col-md-9">
                  <%= f.text_area :message, class: "form-control", placeholder: "Please enter your message here...", rows: "5", required: "required" %>
                </div>
              </div>

              <!-- Captcha input-->
              <div class="form-group" >
                <label class="col-md-3 control-label" for="captcha"><span id="red">*</span>  Captcha:</label>
                <div class="col-md-9">
                  <%= image_tag("captcha.png") %>
                  <%= f.text_field :captcha, placeholder: "Enter the text shown in the image", class: "form-control", required: "required" %>
                </div>
              </div>

              <!-- Form actions -->
              <div class="form-group">
                <div class="col-md-11 col-md-offset-2">
                  <%= f.submit "Send", class: "btn-fill sign-up-btn" %>
                </div>
              </div>

              <%= f.text_field :language, value: "english", hidden: "true" %>
              <% end %>
            <%end %>
          </section>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Start Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-links">
            <ul class="footer-group">
              <li><a href="https://www.google.com/maps/place/1569+E+21st+St,+Los+Angeles,+CA+90011/@34.0187371,-118.2474923,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c885b504c813:0x3df8916c47834a19!8m2!3d34.0187327!4d-118.2453036" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> 1569 E 21st Los Angeles, CA 90011</a></li>
              <li><a href="tel:+1-213-747-3773"><i class="fa fa-phone" aria-hidden="true"></i> Call Us: (213) 747-3773</a></li>
              <li><a href="https://www.facebook.com/GonzaElectric/" id="facebook" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
              <li><a href="https://www.yelp.com/biz/gonza-electric-los-angeles" id="yelp" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i> Yelp</a></li>
              <li class="pull-left copyright"><a href="http://www.ericgonzalez1994.com/" target="_blank">Copyright © <span id="yellow">Eric Gonzalez</span>, All Rights Reserved</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->