  <!-- Start Hero Section -->
  <section class="hero" id="hero">
    <!-- Start Navigation Bar -->
    <section class="navigation">
      <header>
        <div class="header-content">
          <div class="logo"><a href="#hero"><%= image_tag("logo.png", alt:"Gonza Electric") %></a></div>
          <div class="header-nav">
            <nav>
              <ul class="primary-nav">
                <li><a href="#choose-us">Por Que Elegirnos?</a></li>
                <li><a href="#features">Nuestros Servicios</a></li>
                <li><a href="#assets">Sobre nosotros</a></li>
                <li><a href="#testimonials">Testimonios</a></li>
                <li><a href="#contact">Contáctenos</a></li>
                <li><a href="/business-card" target="blank">Tarjeta</a></li>
              </ul>
              <div class="member-actions">
                <a>Change Lan:&nbsp;&nbsp;</a>
                <%= link_to "English", root_path, class: "btn-white btn-small dropdown-toggle" %>
              </div>
            </nav>
          </div>
          <div class="navicon">
              <a class="nav-toggle" href="#"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>
      </header>
    </section>
    <!-- End navigation Bar -->
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="hero-content text-center">
              <h1>Gonza Electric</h1>
              <p class="intro">Somos su electricista confiado de Los Ángeles! Hay una buena posibilidad de que estés aquí porque tienes un problema eléctrico. Puedemos ayudarlo a resolverlo!</p>
              <a href="#contact" class="btn btn-fill btn-large btn-margin-right">Aga Una Cita</a> 
              <a href="#features" class="btn btn-fill btn-large btn-margin-righ">Nuestros Servicios</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <!-- Start Intro Section -->
  <section class="intro section-padding" id="choose-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center" id="intro-header">
          <h2 id="intro-header-text"><u>Por qué Gonza Electric?</u></h2>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <i class="fa fa-bolt fa-3x bolt-icon" aria-hidden="true"></i>
          </div>
          <div class="intro-content">
            <h5>Somos eléctricita expertos</h5>
            <p>Gonza Electric se especializa en instalación y trabajo eléctrico residencial, comercial e industrial. Están completamente equipados y listos para evaluar sus necesidades eléctricas! Todos nuestros técnicos están autorizados y entrenados.</p>
          </div>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <i class="fa fa-clock-o fa-3x clock-icon" aria-hidden="true"></i>
          </div>
          <div class="intro-content">
            <h5>No gastamos su tiempo</h5>
            <p>En Gonza Electric entendemos que su tiempo es valioso. Siempre estamos a tiempo! Lo mejor es intentar darle un precio por adelantado. (Sin sorpresas / Sin cargos ocultos)</p>
          </div>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <i class="fa fa-users fa-3x users-icon" aria-hidden="true"></i>
          </div>
          <div class="intro-content last">
            <h5>confianza de la comunidad </h5>
            <p>Gonza Electric es su elección de confianza para los electricistas locales en Los Angeles y todas las áreas circundantes. ¡Hacemos nuestra prioridad traerle el mejor nivel del servicio de atención al cliente que le dejará el 100% satisfecho!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro Section -->

  <!-- Start Services Section -->
  <section class="features section-padding text-center" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-7">
          <div class="feature-list">
            <div class="text-center">
              <h3><u>Nuestros Servicios</u></h3>
            </div>
            <p>Cuando usted elige a Gonza Electric, usted está eligiendo a un electricista de Los Ángeles con más de 30 años de experiencia en servicio eléctrico, reparación e instalación. Nuestros técnicos están capacitados y capacitados para satisfacer sus necesidades eléctricas. <b> Estos son los servicios que ofrecemos:</b></p>
            <ul class="features-stack">
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-sitemap fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Disyuntores & Fusibles </h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-plug fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Enchufes Electricos</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-bolt fa-2x" aria-hidden="true"></i> <i class="fa fa-tablet fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Paneles Eléctricos</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-wrench fa-2x" aria-hidden="true"></i> <i class="fa fa-tachometer fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Electrodomésticos</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-database fa-2x" aria-hidden="true"></i> <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Generadores</h5>
                </div>
              </li>
              <li class="feature-item">
                <div class="feature-icon">
                  <i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i> <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
                </div>
                <div class="feature-content">
                  <h5>Y MUCHO MÁS...</h5>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="device-showcase">
      <div class="devices">
        <div class="ipad-wrap wp1"></div>
        <!--<div class="iphone-wrap wp2"></div>-->
      </div>
    </div>
    <!--<div class="responsive-feature-img"><img src="img/voltage.png" alt="responsive devices"></div>-->
  </section>
  <!-- End Services Section -->

  <!-- Start About Section -->
  <section class="features-extra section-padding" id="assets">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="feature-list">
            <div class="text-center">
              <h3><u>Sobre Nosotros</u></h3>
            </div>
            <p>Gonza Electric es una orgullosa empresa familiar que ha estado en servicio desde 1983. Ofrecemos siempre un servicio excelente para satisfacer el nivel deseado de satisfacción. Tenemos los conocimientos y habilidades para ayudarle con una amplia variedad de situaciones eléctricas, cuando surge la necesidad, grandes o pequeñas, nos dan la oportunidad de mostrar por qué debemos hacemos "Su Electricista". Tenemos licencia de contratista de estado de California. Nuestra oficina de despacho tiene personas reales, articuladas contestando los teléfonos - no mensajes grabados o buscapersonas. Gracias por visitar nuestro sitio web, esperamos hacer negocios con usted.</p>
            <div class="text-center">
              <a href="#contact" class="btn btn-ghost btn-accent btn-small">Contáctenos</a>
            </div>
          </div>
        </div>
      </div>
      <div class="macbook-wrap wp3">
        <div class="text-center">Nuestra Licencia</div>
      </div>
      <div class="responsive-feature-img">
        <div class="text-center">Nuestra Licencia</div>
        <%= image_tag("license.jpg", alt: "responsive devices") %>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Start Testimonials Section-->
  <section class="testimonial-slider section-padding text-center" id="testimonials">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="flexslider">
              <ul class="slides">
                <li>
                  <div class="avatar"><%= image_tag("Ernie.jpg", alt: "Sedna Testimonial Avatar") %></div>
                  <h2>"Ellos son honestos y resolver el problema de inmediato. Llámalos para todas tus necesidades, no te arrepentirás"</h2>
                  <p class="author">Ernie F. (Yelp Review)</p>
                </li>
                <li>
                  <div class="avatar"><%= image_tag("testimonial-default.png", alt: "Sedna Testimonial Avatar") %></div>
                  <h2>"Este negocio familiar y operado es una compañía eléctrica altamente confiable"</h2>
                  <p class="author">Eddy C. (Yelp Review)</p>
                </li>
                <li>
                  <div class="avatar"><%= image_tag("testimonial-default.png", alt: "Sedna Testimonial Avatar") %></div>
                  <h2>Llamé a algún trabajo de enchufe. Se presentaron a tiempo y iso como se les dijo. Un padre, un hijo, un equipo"</h2>
                  <p class="author">Anonymous (Yelp Review)</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- Start Contact Section -->
  <section class="sign-up section-padding text-center" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h3><u>Contáctenos</u></h3>
          </div>
          <p><b>Puede ponerse en contacto con nosotros a través de cualquiera de estos métodos.</b></p>
          <%= image_tag("business_card.png", alt: "business-card", id:"business-card") %><br>
        </div>
        <div class="col-md-6">
          <h4 id="black"><i class="fa fa-phone phone-icon" aria-hidden="true"></i> Llámenos</h4>
          <p>Llámenos al <a href="tel:+1-213-747-3773" class="contact-link"><b>(213) 747-3773</b></a>. Estaremos listos para ayudarle!</p>
          <hr>
          <h4 id="black"><i class="fa fa-map-marker map-icon" aria-hidden="true"></i> Visítenos en Nuestra Oficina</h4>
          <p>Visítenos en nuestra oficina ubicada en: <b> <br> 1569 E 21 St <br> Los Angeles, CA 90011</b></p>
          <div id="map-canvas"></div>
        </div>
        <div class="col-md-6">
          <section id="form">
            <h4 id="black"><i class="fa fa-envelope email-icon" aria-hidden="true"></i> Envíanos un Correo Electrónico</h4>
            <p>Envíenos un correo electrónico a <a href="mailto:contact@gonzaelectric.com?subject=Service Request" class="contact-link"><b>contact@gonzaelectric.com</b></a>.</p>
            <hr>
            <h4 id="black"><i class="fa fa-comments-o chat-icon" aria-hidden="true"></i> Dejanos una Factura</h4>
            <p>Deje su solicitud e información a continuación. Nos pondremos en contacto con usted lo antes posible.
              <br><b>(<span id="red">*</span> Los Campos Son Obligatorios)</b></p>
            <%= form_for @message, html: { class: "form-horizontal signup-form"} do |f| %>
              <% flash.each do |message_type, message| %>
                <%= content_tag(:div, message, class: "alert alert-#{message_type} text-center", id: "body-up") %>
              <% end %>

              <% if flash.key?("success") %>
                <%= image_tag("logo.png", alt:"Gonza Electric") %>
              <% else %>
              <!-- Name input-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="name"><span id="red">*</span> Nombre:</label>
                <div class="col-md-9">
                  <%= f.text_field :name, placeholder: "Su Nombre", class: "form-control", required: "required" %>
                </div>
              </div>
                    
              <!-- Phone input-->
              <div class="form-group" >
                <label class="col-md-3 control-label" for="phone"><span id="red">*</span> # De Teléfono:</label>
                <div class="col-md-9">
                  <%= f.text_field :phone, placeholder: "Su # de Teléfono", class: "form-control", type: "tel", required: "required" %>
                </div>
              </div>

              <!-- Email input-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="email">Correo Electrico:</label>
                <div class="col-md-9">
                  <%= f.text_field :email, placeholder: "Su Correo Electrónico", class: "form-control", type: "Email" %>
                </div>
              </div>

              <!-- Message body -->
              <div class="form-group">
                <label class="col-md-3 control-label" for="message"><span id="red">*</span> Solicitud De Servicio:</label>
                <div class="col-md-9">
                  <%= f.text_area :message, class: "form-control", placeholder: "Ingrese su factura aquí...", rows: "5", required: "required" %>
                </div>
              </div>

              <!-- Captcha input-->
              <div class="form-group" >
                <label class="col-md-3 control-label" for="Captcha"><span id="red">*</span> Captcha:</label>
                <div class="col-md-9">
                  <%= image_tag("ciaipiticihiai.jpg") %>
                  <%= f.text_field :captcha, placeholder: "Introduzca el texto que se muestra en la imagen", class: "form-control", required: "required" %>
                </div>
              </div>

              <!-- Form actions -->
              <div class="form-group">
                <div class="col-md-11 col-md-offset-2">
                  <%= f.submit "Send", class: "btn-fill submit-btn" %>
                </div>
              </div>

              <%= f.text_field :language, value: "espanol", hidden: "true" %>
              <% end %>
            <%end %>
          </section>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Start Footer -->
  <%= render "shared/footer" %>
  <!-- End Footer -->