<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <title>Gonza Electric</title>

  <%= favicon_link_tag 'favicon.ico' %>
  
  <!-- Meta-Data -->
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="keywords" content=" electrician, electricians, los angeles, local, gonza electric, gonza, electric " />
  <meta name="description" content="Gonza Electric's Official Website">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

  <!-- Stylesheets -->
  <%= stylesheet_link_tag "normalize.min" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "jquery.fancybox" %>
  <%= stylesheet_link_tag "flexslider" %>
  <%= stylesheet_link_tag "styles" %>
  <%= stylesheet_link_tag "queries" %>
  <%= stylesheet_link_tag "animate.min" %>
  <%= stylesheet_link_tag "font-awesome.min" %>
  </head>

  <body id="top">
    <%= yield %>

  <!-- Javascript -->
  <%= javascript_include_tag 'jquery-1.11.2.min.js' %>
  <%= javascript_include_tag 'jquery.fancybox.pack.js' %>
  <%= javascript_include_tag 'bootstrap.min.js' %>
  <%= javascript_include_tag 'scripts.js' %>
  <%= javascript_include_tag 'jquery.flexslider-min.js' %>
  <%= javascript_include_tag 'jquery.waypoints.min.js' %>
  <script src="https://maps.google.com/maps/api/js?key=AIzaSyBZ7ZhwVIUYWElrUzcGPx9bPUe3-2RhKXU"></script>
  <%= javascript_include_tag 'map_div.js' %>
  
  </body>
</html>
